<mat-card class="mortgage-info-card">
  <mat-card-header>
    <mat-card-title>Mortgage Information</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>Interest Rate: {{ mortgageInfo.interestRate | percent: '1.1-5' }}</p>
    <p>Escrow Payment: {{ mortgageInfo.escrow | currency }}</p>
    <p>Monthly Payment: {{ mortgageInfo.monthlyPayment | currency }}</p>
    <p>Starting Principal: {{ mortgageInfo.startingPrincipal | currency }}</p>
    <p>Principal Balance: {{ mortgageInfo.currentPrincipal | currency }}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button
      [disabled]="!hasMortgageInfo">
      Add Payment
    </button>
    <button mat-raised-button
      (click)="editMortgageInfo()">
      Edit Mortgage Info
    </button>
  </mat-card-actions>
</mat-card>